* {
    margin: 0;
    padding: 0;
    background-color: #064c52;
    font-family: Arial, Helvetica, sans-serif;
  }
.main{
    color: aliceblue;
    text-align: center;
    width: 800;
    height: 1000;
    max-width: auto;
    top: 100px;
    bottom: 0;
    left: 5%;
    right: 5%;
    position: absolute;
}

button{
    margin-top: 10%;
    outline: none;
    border: none;
    width: 200px;
}

button a{
    line-height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    background-color: #ff4294;
    color:#fff; 
    font-size: 0.9rem;
    bottom:20px;
}
